<form {{action "authenticate" on="submit"}}>
{{input value=username placeholder="username" name="username"}}<br>
{{input value=password placeholder="password" name="password" type="password"}}<br>
{{input value="Log In" type="submit"}}
</form>
