<form {{action "authenticate" on="submit"}}>
{{input value=username placeholder="username"}}<br>
{{input value=password placeholder="password" type="password"}}<br>
{{input value="Login" type="submit"}}
</form>
